header{
    width:1500px;
    height:516px;
}

.header-logo{
    width:250px;
    height:250px;
    display:block;
    margin:0 auto;
    padding-top:50px;
}
ul{list-style-type:none;}

li{
    float:left;
    padding-right:50px;
    
    
    
}

.link{
    color:black;
    text-decoration:none;

}

.header-list{
 margin-left:530px;  
 padding-bottom:150px;
 padding-top:50px;
 
    
    
    

}

.imgh{
    width:1000px;
    height:300px;
    padding-bottom:50px;

}

.header2{
    padding-left:500px;
}

.header4{
    padding-left:500px;
}

.header-kasa p{
    text-align:right;
}


.product{
    width:1500px;
    
}


h1{
    text-align:center;
}


  
  .image{
      width:300px;
      height:400px;
      
      
      padding-top:50px;
      padding-bottom:50px;
      padding-right:50px;   
  }

  .image-yoko{
      width:450px;
      height:400px;
      padding-top:50px;
    padding-bottom:50px;
  }

  
  

  

  .kibun{
      padding-left:150px;
  }


  .e1{
    padding-left:150px;

  }

  .nigaoe-girl{
    padding-left:150px;

  }

  .pias1{
    padding-left:150px;
    padding-right:700px;

  }

  


  .kasa1{
    padding-left:150px;
    padding-right:50px;

  }

  .dessan2{
    padding-left:150px;
    padding-right:50px;

  }

  .tama{
    padding-left:150px;
    padding-right:50px;


  }

  .about{
      width:1500px;
      
  }

  

  .aobut-img{
      width:300px;
      height:300px;
      padding-left:475px;
      padding-bottom:50px;
      padding-top:100px;
  }

  h2{
      display:block;
      width:300px;
      padding-left:475px;
      padding-bottom:30px;
  }

  .about p{
    display:block;
    width:500px;
    padding-left:475px;
    
  }

  .insta{
      background-color:gray;
      color:white;
      padding:15px 5px;
      display:block;
      width:80px;
      margin-left:625px;
      margin-top:50px;
      border-radius:4px;
      text-decoration:none;
      margin-bottom:100px;
  }


  .footer{
      background-color:gray;
      width:1500px;
      height:200px;
      
  }


@media screen and (min-width: 481px)　{ 
    
}


@media screen and (max-width: 480px)　{ 
    header{
        
    }
    .header-logo{
        width:50px;
        height:50px;
        
        
        padding-top:50px;
    }

}


  

